.group-wWM3zP_M- {
  background-color: #202020;
  color: white;
}

.feature-no-touch .button-13wlLwhJ-:hover {
  color: gray;
}

.button-13wlLwhJ- {
  color: white;
}

.feature-no-touch .button-2ioYhFEY-.isInteractive-20uLObIc-:hover {
  color: gray;
}

.button-2ioYhFEY-.isInteractive-20uLObIc- {
  color: white;
}

.chart-page {
  background: #202020 !important;
}

.chart-page .chart-container {
  border: 0;
  background-color: transparent;
}

.toolbar-2n2cwgp5- {
  padding: 0 !important;
  border-bottom: 2px solid #3b3b3b;
}

.arrow-2pXEy7ej- {
  display: none !important;
}

.loading-indicator {
  background: #202020 !important;
}







