@import '../../variables.css';

.addPaymentForm {
  .headerTitle {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.formInline,
    .formInline {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      &.right {
        justify-content: flex-end;
      }

      &.left {
        justify-content: flex-start;
      }

      &.width50 {
        width: 50%;
      }
    }
  }
}

/* .customInput {
  &.width100 {
    width: 100%;
  }

  &.width80 {
    width: 80%;
  }

  &.width50 {
    width: 50%;
  }

  label {
    color: var(--sub-title-color);
  }

  input {
    border-color: var(--border-light);
    color: var(--text-light);
    background-color: var(--background-light);
    border: 1px solid;
    border-radius: 2px !important;
    height: 45px;
  }

  .input-group-btn {
    button {
      height: 45px;
      border-radius: 2px !important;
    }
  }

  &.light {
    input {
      border-color: #ced3e3 !important;
      color: #363a4c !important;
      background-color: white !important;
    }

    label {
      color: #363a4c;
    }
  }
} */

/* .mt25 {
  margin-top: 25px !important;
}

.ml5 {
  margin-left: 5px !important;
} */

.customBtn {
  border-radius: 2px !important;
  color: white !important;
  border: 0 !important;
  height: 40px;

  &.purple {
    background-color: #7577ff !important;
  }

  &.width100 {
    width: 100%;
  }

  &.mt15 {
    margin-top: 15px;
  }
}

.back {
  color: var(--sub-title-color);
  text-align: center;
}
